<div id="<%= dom_id grade %>">
  <p>
    <strong>Name:</strong>
    <%= grade.name %>
  </p>

  <p>
    <strong>Result:</strong>
    <%= grade.result %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= grade.weight %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= grade.date %>
  </p>

  <p>
    <strong>Semester:</strong>
    <%= grade.semester_id %>
  </p>

  <p>
    <strong>Promotion:</strong>
    <%= grade.promotion_id %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= grade.student_id %>
  </p>

  <p>
    <strong>Teacher:</strong>
    <%= grade.teacher_id %>
  </p>

</div>
